@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<Br>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="jumbotron jumbotron-fluid white">
			<div class="col-md-12">
		 <h1 class="display-5"> Student café</h1>
		 <Br>
		  <p class="lead">

... is YOUR extra living room. A cozy living room where students and anyone can come to enjoy our wide range of drinks. Here you have the opportunity to read up on the study, hold meetings or organize an event. There is also here you have the opportunity to catch a quiet hour with a good book, take a few board games with friends or whatever else you just might want to.

		 </p>
		   <p class="lead">
			   Our student café is staffed by the resort's many co-workers (volunteers) who appreciate the place and see a prestige to provide pleasant surroundings for our guests. In addition to creating a good atmosphere in the café, they can also serve a good organic coffee, a toast or whatever else is desired. 
		   </p>
		   <p class="lead">
			   <b>The café's opening hours:</b>
		   </p>
		   <p>
			   Monday                  (Open Event)<br>
			   Tuesday - Friday 15:00 to 22:00 (02:00)<Br>
			   Saturday 18:00 to 0:00 (2:00) <Br>
			   Sunday               (Open at. 16.00 Cinema)<br>
			   (Possibly. Extended hours Open Event)<br>
		   </p>
		   <p class="lead">
			   We have a wide range of different drinks. Among various sodas, Søbogaard juice, RTDs, spirits, beer and selected special beer. We also have freshly ground organic coffee from our own espresso machine.<br>
			   <Br>
			   We offer student discounts on many of our drinks so that you as a student can also enjoy something wet to the palate, the SU-friendly prices. So remember your student!
		   </p>
		 </div>
		</div>
		
		 
	
</div>
</div>