@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";

}

<div class="row">
	<div class="col-md-12">
		<div class="jumbotron jumbotron-fluid">
             <img src="Media/1019/bio2.jpg" alt="cinema">
</div>
</div>
</div>


