@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Concert>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="display-1 white">@Umbraco.Field("dummyText")</div>
	<br><br>