@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}


<ul id="event" class="event">
    <li style="background-image: url(https://assets.aneventapart.com/images/made/images/uploads/cities/hero_2015_boston_2400_600_80_c1.jpg);">
        <a href="/event/boston-2017">
            <span class="rainbinner">
                <h3>Boston</h3>
                <span class="dates"><time datetime="2017-05-15T14:35:00-04:00"> May 15-17, 2017</time></span>
                <span class="module-button">Details</span>
            </span>
        </a>
    </li>
    <li style="background-image: url(https://assets.aneventapart.com/images/made/images/uploads/cities/hero_2015_dc_2400_600_80_c1.jpg);">
        <a href="/event/washington-dc-2017">
            <span class="rainbinner">
                <h3>Washington DC</h3>
                <span class="dates"><time datetime="2017-07-10T14:39:00-04:00"> Jul 10-12, 2017</time></span>
                <span class="module-button">Details</span>
            </span>
        </a>
    </li>
    <li style="background-image: url(https://assets.aneventapart.com/images/made/images/uploads/cities/hero_2015_chicago_2400_600_80_c1.jpg);">
        <a href="/event/chicago-2017">
            <span class="rainbinner">
                <h3>Chicago</h3>
                <span class="dates"><time datetime="2017-08-28T14:48:00-04:00"> Aug 28-30, 2017</time></span>
                <span class="module-button">Details</span>
            </span>
        </a>
    </li>
    <li style="background-image: url(https://assets.aneventapart.com/images/made/images/uploads/cities/hero_2015_san-francisco_2400_600_80_c1.jpg);">
        <a href="/event/san-francisco-2017">
            <span class="rainbinner">
                <h3>San Francisco</h3>
                <span class="dates"><time datetime="2017-10-30T14:42:00-04:00"> Oct 30-Nov 1, 2017</time></span>
                <span class="module-button">Details</span>
            </span>
        </a>
    </li>
    <li style="background-image: url(https://assets.aneventapart.com/images/made/images/uploads/cities/denver-box_1000_600_80_c1.jpg);">
        <a href="/event/denver-2017" class="badged">
            <span class="rainbinner">
                <h3>Denver</h3>
                <span class="dates"><time datetime="2017-12-11T14:46:00-05:00"> Dec 11-13, 2017</time></span>
                <span class="module-button">Details</span>
                <img src="//assets.aneventapart.com/images/uploads/cities/badge_special-edition.svg" class="badge">
            </span>
        </a>
    </li>
</ul>