<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT concert ANY>
<!ATTLIST concert id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT volunteers ANY>
<!ATTLIST volunteers id ID #REQUIRED>
<!ELEMENT cinema ANY>
<!ATTLIST cinema id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1052" key="593e58d5-53e2-496b-8b17-d4337ad23092" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-04-05T20:49:56" updateDate="2017-04-18T10:26:12" nodeName="HomePage" urlName="homepage" path="-1,1052" isDoc="" nodeType="1051" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1050" nodeTypeAlias="homePage">
    <collaborators><![CDATA[1065,1066,1067,1068,1069]]></collaborators>
    <footerText><![CDATA[© 2017 - All Rights with Esbjerg Huset]]></footerText>
    <footerLogo><![CDATA[1079]]></footerLogo>
    <pageTitle><![CDATA[Huset Esbjerg]]></pageTitle>
    <logo><![CDATA[1079]]></logo>
    <bannerText><![CDATA[Esbjerg Rockfestivals musikpris - 21.04.17]]></bannerText>
    <bannerColor><![CDATA[a2291e]]></bannerColor>
    <description><![CDATA[<p class="lead">Have you ever been on Huset Esbjerg – The student house, and been thinking, “This is cosy, this I would like to be a part of!” Then this is the chance… Huset Esbjerg seeks new volunteers to all the daily tasks and maybe you have an idea or two that we have not tried out yet?</p>
<p>If you want to know more and want to sign up - <a href="#" class="click-here"> click here </a></p>]]></description>
    <textBeloveHeader><![CDATA[<p>The students ’house’ is Esbjergs place for students and culture located right next to the main library in the center of Esbjerg. It's ideal meeting point for the students of Esbjerg with its many different activities and concerts.</p>]]></textBeloveHeader>
    <extraTextField><![CDATA[Volunteers]]></extraTextField>
    <headerText><![CDATA[Huset Esbjerg]]></headerText>
    <bannerImage><![CDATA[1101]]></bannerImage>
    <carouselImages><![CDATA[1096,1097,1098]]></carouselImages>
    <concert id="1057" key="5b710ce8-7fd6-4dce-9af6-6c2c73ebad33" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2017-04-05T21:12:48" updateDate="2017-04-05T23:38:57" nodeName="Concert" urlName="concert" path="-1,1052,1057" isDoc="" nodeType="1055" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1054" nodeTypeAlias="concert">
      <dummyText><![CDATA[Test blah blah 123 Kappa]]></dummyText>
    </concert>
    <cinema id="1088" key="66057bd1-6185-4233-838d-c2959d140654" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2017-04-05T23:49:45" updateDate="2017-04-05T23:49:45" nodeName="Cinema" urlName="cinema" path="-1,1052,1088" isDoc="" nodeType="1086" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1081" nodeTypeAlias="cinema" />
    <volunteers id="1089" key="8cfd83b0-9250-4b0f-a5b7-87eff2b3e6d9" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2017-04-05T23:49:58" updateDate="2017-04-05T23:49:58" nodeName="Volunteers" urlName="volunteers" path="-1,1052,1089" isDoc="" nodeType="1085" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1082" nodeTypeAlias="volunteers" />
    <events id="1090" key="2e614c5c-0683-4a82-a47d-bf5442aa00d2" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2017-04-05T23:50:06" updateDate="2017-04-05T23:50:06" nodeName="Events" urlName="events" path="-1,1052,1090" isDoc="" nodeType="1087" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1080" nodeTypeAlias="events" />
    <about id="1091" key="faa2f182-63c3-4ca5-b6f7-de445d8a651f" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2017-04-05T23:50:12" updateDate="2017-04-05T23:50:12" nodeName="about" urlName="about" path="-1,1052,1091" isDoc="" nodeType="1084" creatorName="Dovydas" writerName="Dovydas" writerID="0" template="1083" nodeTypeAlias="about" />
  </homePage>
</root>